.git
.gitignore

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore master key for decrypting credentials and more.
/config/master.key

# Ignore uploaded files in development
/storage/*
!/storage/.keep
